<!doctype html>
<html>
	<head>
        <script>
            {% include "utils.js" %}
            

        </script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
		<title>{{ the_title }}</title>
		<link rel="stylesheet" href="static/hf.css"/>
        <link rel="icon" href="static/app_icon.jpeg">
        <h2>{{ the_title }}</h2>

	</head>
	<body onload="getCurrentDateNTime()">
		{% block body %}
		{% endblock %}
        <table>
            <tr><p>

                
            </p></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr>
                <td>

                    {% if summary is not none %}
                        <p style="color: blue;">Current Month's Status: spent {{ summary[ 1 ]}} time(s) - Total amount of Rs. {{ summary[ 2 ]}}</p>
                    {% endif %}
                        
                </td>
            </tr>
        </table>
	</body>
</html>
