{% extends 'base.html' %}
{% block body %}
    <table >
        <tr >
            <td valign="middle" ><b>Manage Info</b></td>
            <td style="text-align:center"><a href='/expense_input' style="ima"><img src="static/expense.png"></a></td>
            <td style="text-align:center"><a href='/expense_category_input'><img src="static/exp_catgV6.png"></a></td>
            <td style="text-align:center"><a href='/store_input'><img src="static/store.png"></a></td>
            <td style="text-align:center"><a href='/payment_type_input'><img src="static/paymentTypeV2.png"></a></td>
            <td style="text-align:center"><a href='/person_input'><img src="static/peopleV1.png"></a></td>
        </tr>
        <tr>
            <td valign="middle" ></td>
            <td style="text-align:center">Manage Expenses</td>
            <td style="text-align:center">Manage Categories</td>
            <td style="text-align:center">Manage Stores</td>
            <td style="text-align:center">Manage Payment Type</td>
            <td style="text-align:center">Manage People</td>
        </tr>

    </table>
    <hr>

    <table class="mainmenu">
        <tr>
            <td valign="middle" ><b>View / Delete</b></td>
            <td style="text-align:center"><a href='/expenses_list'><img src="static/all_expenses.jpeg"></a></td>
            <td style="text-align:center"><a href='/expense_categories_list?mode=page'><img src="static/exp_catgV6.png" width=auto height=auto></a></td>
            <td style="text-align:center"><a href='/stores_list?mode=page'><img src="static/store.png" target="_blank"></a></td>
            <td style="text-align:center"><a href='/payment_type_list?mode=page'><img src="static/paymentTypeV2.png"></a></td>
            <td style="text-align:center"><a href='/person_list?mode=page'><img src="static/peopleV1.png"></a></td>
        </tr>
        <tr>
            <td valign="middle" ></td>
            <td style="text-align:center">List Expenses</td>
            <td style="text-align:center">List Categories</td>
            <td style="text-align:center">List Stores</td>
            <td style="text-align:center">List Payment Types</td>
            <td style="text-align:center">List People</td>
        </tr>
    </table>

    <hr>

    <table class="mainmenu">
        <tr>
            <td valign="middle" ><b>XMAN Insights</b></td>
            <td style="text-align:center"><a href='/expense_month_summary_list?mode=page'><img src="static/monthly_report.png" target="_blank"></a></td>
            <td style="text-align:center"><a href='/expense_month_category_summary_list?mode=page'><img src="static/exp_catg_report.png" target="_blank"></a></td>
            <td style="text-align:center"><a href='/expense_month_paytype_summary_list?mode=page'><img src="static/paymentTypeV2.png" target="_blank"></a></td>
            <td style="text-align:center"><a href='/expense_month_person_summary_list?mode=page'><img src="static/people_report.png" target="_blank"></a></td>

        </tr>
        <tr>
            <td valign="middle" ></td>
            <td style="text-align:center">By Month</td>
            <td style="text-align:center">By Category</td>
            <td style="text-align:center">By PaymentType</td>
            <td style="text-align:center">By People</td>

        </tr>


        <!-- <tr><td><a href='/expenses_list_bydate'>All expenses</a></td></tr> -->
    </table>

{% endblock %}
