{% extends 'base.html' %}
{% block body %}
	<form method='POST' action='/payment_type_add'>
            <p><b>Add New Payment Type</b></p>
            <table>
                <tr>
                  <td><a href='/'>
                    {% include 'back_image.html' %}
                  </a></td>
                  <td>          
                    <a href="/payment_type_list?mode=popup" onclick="window.open('/payment_type_list?mode=popup',
                      'newwindow','width=1200,height=850'); return false;">
                      {% include 'search_image.html' %}                    
                    </a>
                  </td>
                </tr>
                <tr><td></td><td></td></tr>
                <tr><td></td><td></td></tr>
                <tr><td>Payment Mode :</td><td><input type='TEXT' name='payment_mode' maxlength=20 required></td></tr>
                <tr><td>Payment Mode Detail : </td><td><input type='TEXT' name='payment_mode_detail' maxlength=80 required></td></tr>
                <tr><td>Click on submit once done ...  </td><td><input type='SUBMIT' value=' Save & Continue '></td></tr>
                </td></tr>
                <tr><td></td><td></td></tr>
            </table>
	</form>
{% endblock %}
